.--anim {
    &-speed {
        @for $i from 1 through 20 {
            &-#{$i*100} {
                animation-duration: #{$i * 0.1}s;
            }
        }
        @for $i from 3 through 30 {
            &-#{$i*1000} {
                animation-duration: #{$i}s;
            }
        }
    }
    &-reverse {
        animation-direction: reverse;
    }
}

@keyframes anim-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.anim-rotate {
    animation-name: anim-rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anim-bg-scroll {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: calc(100% - 100vh);
    }
}

.anim-bg-scroll {
    animation-name: anim-bg-scroll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
